html, body{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #FAF9F9;
}

.table {
  width: calc(100% / 12 * 8);
  margin: 10px auto;
  background: #FFFFFF;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.table__item {
}
.table__month {
  font-weight: bold;
  border-top: 1px solid #dee2e6;
  text-align: center;
  padding: 4px 0;
}
.table__month:hover{
  background: #EDECEC;
}
.table__event {
  border-top: 1px solid #dee2e6;
  
}
.table__event:hover{
  background: #EDECEC;
}
.event {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: .75em;
}

.event__date {
  color: #979797;
  flex-basis: 10%;
  
}
.event__content {
  margin-left: 4%;
  flex-basis: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event__description {
  font-weight: bold;
  color: #000;
}
.event__info {
  margin-top: 0.3em;
  color: #979797;
  display: flex;
  justify-content: space-between;
}
.event__city{
  display: flex;
}
.event__category{
  text-align: right;
}
.fas {
  margin-right: 0.2em;
}
@media (min-width: 1100px){
  .wrapper{
    margin: 0 auto; 
    width: 1100px;
  }
}
@media (max-width: 580px){
  .table {
    width: calc(100% / 12 * 11);
  }
}
